<header>
  <nav class="bg-white border-b border-gray-200 dark:bg-gray-900 dark:border-gray-700">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex flex-col sm:flex-row items-center justify-between py-3 space-y-3 sm:space-y-0">
        
        <!-- Brand/Logo -->
        <a href="/myprotfolio" class="text-lg font-semibold text-gray-900 dark:text-white">
          My Protfolio
        </a>

        

        <!-- Nav Links -->
        <ul class="flex flex-wrap justify-center sm:justify-center items-center gap-4 text-sm font-medium w-full sm:w-auto">
          <button (click)="home()"   class="text-gray-700 dark:text-white cursor-pointer">
            Home
          </button>
          <button (click)="about()"   class="text-gray-700 dark:text-white cursor-pointer">
            About
          </button>
          <button (click)="qualification()" class="text-gray-700 dark:text-white">
            Qualification
          </button>
          <button (click)="experience()" class="text-gray-700 dark:text-white">
            Experience
          </button>
          <button (click)="skill()" class="text-gray-700 dark:text-white">
            Skill
          </button>
         <!--  <button (click)="qualification()" class="text-gray-700 dark:text-white">
            Contact
          </button> -->
        </ul>


        <div></div>
      </div>
    </div>
  </nav>
</header>
